@import "./mixins/mixin";
@import "./variables/variables";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", Arial, sans-serif;

    ul {
        list-style: none;
    }

    a {
        text-decoration: none;
    }
}

.container {
    width: 100%;
    max-width: 1260px;
    padding: 0px 32px;
    margin: 0 auto;
}

// <!-------------------- NAVBAR -------------------->

nav {
    width: 100%;
    position: absolute;
    z-index: 2;

    .nav-center {
        width: 100%;
        padding: 45px 0px;
        // background-color: bisque;
        @include display(space-between, center);

        ul {
            @include display;
            gap: 50px;

            #home {
                color: white;
            }

            a {
                color: rgba(0, 0, 0, 0.6);
            }
        }
    }
}

// <!-------------------- BANNER -------------------->
#banner {
    width: 100%;
    background-color: $banner-color;
    height: 100vh;
    min-height: 100%;
    width: 100%;
    padding: 50px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // grid-template-columns: repeat(2, auto);
    // position: absolute;

    // .banner-center {

        .left {
            width: 50%;
            height: 100vh;
            max-height: 100%;
            @include display(center,flex-start);
            flex-direction: column;
            // gap: 20px;
            // position: relative;
            // left: 0;
            h3{
                font-size: 45px;
                font-weight: 200;
                color: $black-blue;
                text-align: center;

            }
            h2{
                font-size: 45px;
                color: $black-blue;

            }
            p{
                color: gray;
                width: 70%;
                // padding-top: 20px;
            }
            button{
                margin-top: 20px;
                padding: 20px 40px;
                background-color: white;
                border: 1px solid transparent;
                color: $button-color;
                border-radius: 99999px;
                font-weight: 500;
                cursor: pointer;
            }
        }

        img {
            width: 50%;
            height: 100vh;
            max-height: 100%;
            // max-width: 200px;
            position: absolute;
            top: 0;
            right: 0;
            object-fit: cover;
        }
    }
// }


// <!-------------------- Json Data -------------------->
#json{
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4 , auto);
    gap: 10px;
    .card{
        background-color: $card-default;
        padding: 40px 20px;
        @include display(center , flex-start);
        flex-direction: column;
        gap: 10px;
        i{
            padding: 5px 15px;
            border-radius: 9999px;
            color: white;
            font-size: 30px;
        }
        .icon1{
            background-color: $icon1;
        }
        .icon2{
            background-color: $icon2;
        }
        .icon3{
            background-color: $icon3;
        }
        .icon4{
            background-color: $icon4;
        }

        p{
            color: gray;
        }
    }
    .card1{
        background-color: $card1;
    }
    .card2{
        background-color: $card2;
    }
    .card3{
        background-color: $card3;
    }
    .card4{
        background-color: $card4;
    }
}

// <!-------------------- ABOUT -------------------->
#about{
    width: 100%;
    background-image: url(../img/bg_4.jpg.webp);
    position: relative;
    padding: 350px 0px;
    // height: 88vh;
    @include image;
    // z-index: 10;
    .text{
        width: 40%;
        // padding: 300px 0px;
        @include display(center , flex-start);
        flex-direction: column;
        position: absolute;
        right: 0;
        z-index: 11;
        top: 50%;
        right: 150px;
        transform: translateY(-50%);
        margin: 0 auto;
        gap: 20px;
        h5{
            color: gray;
            font-weight: 500;
        }
        h2{
            font-size: 50px;
            font-weight: 500;
            color: $black-blue
        }
        p{
            color: gray;
            font-size: 20px;
        }
        .button{
            @include display;
            gap: 20px;
            #play{
                color: $orange;
                font-size: 20px;
                font-weight: 700;
            }
            a i{
                color: $orange;
                font-size: 80px;
            }
        }
    }
}
