$banner-color:#d4eaf5;
$black-blue:#052c43;
$button-color:#267aa4 ;
$card1:rgb(245, 235, 235);
$card2:#dcebdd;
$card3:#f5efd8;
$card4:#f4e6d8;
$card-default:rgb(250, 250, 250);
$icon1:rgb(203, 150, 150);
$icon2:rgb(139, 189, 142);
$icon3:rgb(209, 181, 74);
$icon4:rgb(210, 154, 97);
$orange:#cf7500;

